%span
  .view-text
    View
  .dropdown
    %span.fui-play.black.dropdown-toggle{"data-toggle" => "dropdown", id: "##{dropdown_id}"}
    %ul.dropdown-menu{"aria-labelledby" => "#{dropdown_id}", role: "menu"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action1')
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action2')
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action3')
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action4')
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action5')
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        = link_to "#", role: "menuitem", tabindex: "-1" do
          =t('.action6')
